* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000080;
  font-family: 'Patrick Hand', cursive;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 900px;
  min-height: 500px;
  padding: 20px 40px;
  background-image: url(./assets/paper.svg);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 10px;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #dbbdff;
  font-size: 3rem;
  grid-column: 1/-1;
}

.furoDaFolha {
  width: 20px;
  height: 20px;
  margin: 20px 0 5px 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #d4d4d4;
  box-shadow: 0 75px 0 #d4d4d4, 0 150px 0 #d4d4d4, 0 225px 0 #d4d4d4,
    0 300px 0 #d4d4d4, 0 375px 0 #d4d4d4, 0 450px 0 #d4d4d4;
}

.formula-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  font-size: 3rem;  
}

#c{
  display: inline;
  margin-right: 30px;
}
input {
  border: none;
  background: transparent;
  width: 85px;
  height: 40px;
  padding: 0 10px;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}

input::placeholder {
  color: #000080;
}
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

button {
  border: none;
  background: #dbbdff8e;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
  margin-left: 40px;
}


section {
  padding-left: 30px;
}
li {
  font-size: 1.2rem;
  margin: 15px;
}

strong {
  font-weight: 400;
  background-color: #dbbdff8e;
  padding: 0.1rem 0.3rem;
}

footer{
  margin-top: 20px;
  text-align: center;
}

@media(max-width:600px){
  body{
    height: auto;
  }

  main { 
    grid-template-columns: 1fr;
    min-height: auto;
    gap: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  label {
    font-size: 1.5rem;  
  }  

  #c{
    margin-right: 20px;
  }
 
  input {
    width: 55px;
    height: 40px;
    font-size: 1.5rem;
  }

  button {   
    font-size: 1rem;
    margin-left: 5px;
}

section {
  padding-left: 0px;
}
li {
  font-size: 0.875rem;
}

img{
  width: 70%;
}

}
